In [1]:
# Import required libraries
import pandas as pd
import numpy as np

In [2]:
# Load dataset
df = pd.read_excel('student_data.xlsx')
df.head()

,student_id,course,student_cohort,academic_status,failed_subjects,study_skills(attended),referral,pp_meeting,self_assessment,readiness_assessment_results,...,subject_3,subject_3_assess_1,subject_3_assess_2,subject_3_assess_3,subject_4_assess_4,attendance_3,learn_jcu_issues_3,lecturer_referral_3,comments,identified_issues
0,1,Master of Business Administration,SRI to JCUB,At Risk,NaN,Essential Skills,Student Counsellor,Booked,Yes,L/G:9/10 N:5/10 R:8/10,...,NaN,39.02,17.71,94.50,9.83,89,Access,Non Submission,Week 8. Student re-engaged with tutorials. Sub...,Late Enrollment
1,2,Master of Business Administration,Continuing,Excluded,NaN,Referencing,Student Advocate,Not relevant,Yes,L/G:9/10 N:5/10 R:8/10,...,NaN,3.72,38.52,25.80,11.80,100,No Access,Non Submission,booked to see a doctor. Week 5. Student contac...,Poor time management
2,3,Master of Business Administration,First year,At Risk,NaN,Writing,Enrollment,Attended,Yes,L/G:9/10 N:5/10 R:8/10,...,NaN,77.77,77.27,81.95,62.35,42,Access,Attendance,Week 8. Student re-engaged with tutorials. Sub...,Poor time management
3,4,Master of Business Administration,New,Excluded,NaN,Essential Skills,Student Advocate,Attended,No,L/G:9/10 N:5/10 R:8/10,...,NaN,95.41,8.93,3.21,99.15,51,Access,Concern for Welfare,Week 6. Student submitted assessment late. Ext...,Death in family
4,5,Master of Business Administration,Continuing,At Risk,NaN,Essential Skills and Reading,Student Counsellor,Not relevant,No,L/G:9/10 N:5/10 R:8/10,...,NaN,90.12,52.18,36.05,20.65,19,Access,Concern for Welfare,Week 3 late enrolment. Student finding it diff...,Sickness

#### Data Cleaning and Exploration

In [3]:
# Print a concise summary of the DataFrame, including column names, data types, non-null counts, and memory usage.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 698 entries, 0 to 697
Data columns (total 38 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   student_id                    698 non-null    int64
 1   course                        698 non-null    object
 2   student_cohort                698 non-null    object
 3   academic_status               698 non-null    object
 4   failed_subjects               0 non-null      float64
 5   study_skills(attended)        698 non-null    object
 6   referral                      698 non-null    object
 7   pp_meeting                    698 non-null    object
 8   self_assessment               698 non-null    object
 9   readiness_assessment_results  698 non-null    object
 10  follow_up                     698 non-null    object
 11  follow_up_type                698 non-null    object
 12  subject_1                     0 non-null      float64
 13  subject_1_assess_1            698 non-null    float64
 14  subject_1_assess_2            698 non-null    float64
 15  subject_1_assess_3            698 non-null    float64
 16  subject_1_assess_4            698 non-null    float64
 17  attendance_1                  698 non-null    int64
 18  learn_jcu_issues_1            698 non-null    object
 19  lecturer_referral_1           698 non-null    object
 20  subject_2                     0 non-null      float64
 21  subject_2_assess_1            698 non-null    float64
 22  subject_2_assess_2            698 non-null    float64
 23  subject_2_assess_3            698 non-null    float64
 24  subject_2_assess_4            698 non-null    float64
 25  attendance_2                  698 non-null    int64
 26  learn_jcu_issues_2            698 non-null    object
 27  lecturer_referral_2           698 non-null    object
 28  subject_3                     0 non-null      float64
 29  subject_3_assess_1            698 non-null    float64
 30  subject_3_assess_2            698 non-null    float64
 31  subject_3_assess_3            698 non-null    float64
 32  subject_4_assess_4            698 non-null    float64
 33  attendance_3                  698 non-null    int64
 34  learn_jcu_issues_3            698 non-null    object
 35  lecturer_referral_3           698 non-null    object
 36  comments                      698 non-null    object
 37  identified_issues             698 non-null    object
dtypes: float64(16), int64(4), object(18)
memory usage: 207.3+ KB

In [4]:
df.rename(columns={'subject_4_assess_4':'subject_3_assess_4'}, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 698 entries, 0 to 697
Data columns (total 38 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   student_id                    698 non-null    int64
 1   course                        698 non-null    object
 2   student_cohort                698 non-null    object
 3   academic_status               698 non-null    object
 4   failed_subjects               0 non-null      float64
 5   study_skills(attended)        698 non-null    object
 6   referral                      698 non-null    object
 7   pp_meeting                    698 non-null    object
 8   self_assessment               698 non-null    object
 9   readiness_assessment_results  698 non-null    object
 10  follow_up                     698 non-null    object
 11  follow_up_type                698 non-null    object
 12  subject_1                     0 non-null      float64
 13  subject_1_assess_1            698 non-null    float64
 14  subject_1_assess_2            698 non-null    float64
 15  subject_1_assess_3            698 non-null    float64
 16  subject_1_assess_4            698 non-null    float64
 17  attendance_1                  698 non-null    int64
 18  learn_jcu_issues_1            698 non-null    object
 19  lecturer_referral_1           698 non-null    object
 20  subject_2                     0 non-null      float64
 21  subject_2_assess_1            698 non-null    float64
 22  subject_2_assess_2            698 non-null    float64
 23  subject_2_assess_3            698 non-null    float64
 24  subject_2_assess_4            698 non-null    float64
 25  attendance_2                  698 non-null    int64
 26  learn_jcu_issues_2            698 non-null    object
 27  lecturer_referral_2           698 non-null    object
 28  subject_3                     0 non-null      float64
 29  subject_3_assess_1            698 non-null    float64
 30  subject_3_assess_2            698 non-null    float64
 31  subject_3_assess_3            698 non-null    float64
 32  subject_3_assess_4            698 non-null    float64
 33  attendance_3                  698 non-null    int64
 34  learn_jcu_issues_3            698 non-null    object
 35  lecturer_referral_3           698 non-null    object
 36  comments                      698 non-null    object
 37  identified_issues             698 non-null    object
dtypes: float64(16), int64(4), object(18)
memory usage: 207.3+ KB

In [5]:
df['course'] = df['course'].str.strip().str.lower()
df['course'].unique()

array(['master of business administration',
       'master of education - master of business administration',
       'master of information technology', 'bachelor of business',
       'master of engineering management',
       'bachelor of information technology',
       'master of professional accounting',
       'master of international tourism and hospitality management',
       'bachelor of tourism, hospitality and events',
       'master of professional account and master of business administration',
       'bachelor of commerce',
       'master of international tourism and hospitality management - master of business administration',
       'master of data science (professional)',
       'master of information technology - master of business administration',
       'postgraduate qualifying program - business'], dtype=object)

In [6]:
# Map subject code to subject names using Dictionary
subject_dict = {
    "BU1002": "Accounting for Decision Making",
    "BU1003": "Principles of Economics",
    "BU1007": "Principles of Data Analysis for Business",
    "BU1112": "Business Law",
    "BX2011": "Foundation of Accounting Principles",
    "BX2014": "Principles of Finance",
    "CP1401": "Fundamentals of Problem Solving and Programming I",
    "CP1402": "Internet Fundamentals",
    "CP1404": "Programming II",
    "TO1008": "Introduction to Tourism, Hospitality and Events Management",
    "TO2117": "Food and Beverage Management",
    "TO3052": "Experience Design for Tourism Hospitality and Events",
    "LB5113": "Corporate Strategy",
    "LB5202": "Marketing Essentials",
    "LB5205": "People in Organisations",
    "MA5831": "Advanced Data Management and Analysis using SAS",
    "MA5840": "Data Science and Strategic Decision Making for Business",
    "MA5851": "Data Science Master Class 1",
    "ED5097": "Research Design and Proposal",
    "ED5880": "Educational Leadership",
    "EG5200": "Career Planning",
    "EG5220": "Advanced Asset Management and Reliability",
    "EG5310": "Professional Placement",
    "CP5046": "ICT Project 1: Analysis and Design",
    "CP5047": "ICT Project 2: Implementation and Commissioning",
    "CP5503": "Enterprise Database Systems - Oracle",
    "TO5101": "Tourism Systems Analysis",
    "TO5103": "Global Destinations and Competitiveness",
    "TO5104": "Tourist Management Strategies",
    "CO5117": "Introduction to Accounting",
    "CO5103": "Management Accounting",
    "CO5109": "Corporate Finance",
    "LB5203": "Sustainable Enterprise",
    "LB5212": "Accounting and Finance for Managers"
}

In [7]:
# Get the subject name from the subject code
subject_dict['BU1007'] # Output: Principles of Data Analysis for Business

'Principles of Data Analysis for Business'

In [8]:
# Map each course to a list of three subject codes
course_subjects = {
    'Bachelor of Business': ['BU1002', 'BU1003', 'BU1007'],
    'Bachelor of Commerce': ['BU1112', 'BX2011', 'BX2014'],
    'Bachelor of Information Technology': ['CP1401', 'CP1402', 'CP1404'],
    'Bachelor of Tourism, Hospitality and Events': ['TO1008', 'TO2117', 'TO3052'],
    'Master of Business Administration': ['LB5113', 'LB5202', 'LB5205'],
    'Master of Data Science (Professional)': ['MA5831', 'MA5840', 'MA5851'],
    'Master of Education - Master of Business Administration': ['ED5097', 'ED5880', 'LB5113'],
    'Master of Engineering Management': ['EG5200', 'EG5220', 'EG5310'],
    'Master of Information Technology': ['CP5046', 'CP5047', 'CP5503'],
    'Master of Information Technology - Master of Business Administration': ['CP5046', 'LB5113', 'LB5202'],
    'Master of International Tourism and Hospitality Management': ['TO5101', 'TO5103', 'TO5104'],
    'Master of International Tourism and Hospitality Management - Master of Business Administration': ['TO5101', 'LB5113', 'LB5202'],
    'Master of Professional Accounting': ['CO5117', 'CO5103', 'CO5109'],
    'Master of Professional Accounting - Master of Business Administration': ['CO5117', 'CO5103', 'LB5113'],
    'Postgraduate Qualifying Program - Business': ['LB5202', 'LB5203', 'LB5212']
}

In [9]:
# Get the course subjects from the course
course_subjects['Bachelor of Information Technology'] # Output: 'CP1401', 'CP1402', 'CP1404']

['CP1401', 'CP1402', 'CP1404']

In [10]:
# Create a new dictionary with cleaned course names as keys
# For each key-value pair in the original course_subjects dictionary:
#   Remove any leading/trailing spaces from the course name (key) using strip()
#   Convert the course name to lowercase using lower()
#   Keep the value (list of subjects) unchanged
cleaned_course_subjects = {k.strip().lower(): v for k, v in course_subjects.items()}
cleaned_course_subjects

{'bachelor of business': ['BU1002', 'BU1003', 'BU1007'],
 'bachelor of commerce': ['BU1112', 'BX2011', 'BX2014'],
 'bachelor of information technology': ['CP1401', 'CP1402', 'CP1404'],
 'bachelor of tourism, hospitality and events': ['TO1008', 'TO2117', 'TO3052'],
 'master of business administration': ['LB5113', 'LB5202', 'LB5205'],
 'master of data science (professional)': ['MA5831', 'MA5840', 'MA5851'],
 'master of education - master of business administration': ['ED5097',
  'ED5880',
  'LB5113'],
 'master of engineering management': ['EG5200', 'EG5220', 'EG5310'],
 'master of information technology': ['CP5046', 'CP5047', 'CP5503'],
 'master of information technology - master of business administration': ['CP5046',
  'LB5113',
  'LB5202'],
 'master of international tourism and hospitality management': ['TO5101',
  'TO5103',
  'TO5104'],
 'master of international tourism and hospitality management - master of business administration': ['TO5101',
  'LB5113',
  'LB5202'],
 'master of professional accounting': ['CO5117', 'CO5103', 'CO5109'],
 'master of professional accounting - master of business administration': ['CO5117',
  'CO5103',
  'LB5113'],
 'postgraduate qualifying program - business': ['LB5202', 'LB5203', 'LB5212']}

In [11]:
# Get unique course names in DataFrame
unique_courses = df['course'].unique()

# Find which course names are not keys in cleaned_course_subjects dictionary
courses_not_in_cleaned = [course for course in unique_courses if course not in cleaned_course_subjects]
courses_not_in_cleaned

['master of professional account and master of business administration']

In [12]:
df['course'].replace('master of professional account and master of business administration', 'master of professional accounting - master of business administration', inplace=True)

In [13]:
# check if the course value has been updated
df['course'].unique()

array(['master of business administration',
       'master of education - master of business administration',
       'master of information technology', 'bachelor of business',
       'master of engineering management',
       'bachelor of information technology',
       'master of professional accounting',
       'master of international tourism and hospitality management',
       'bachelor of tourism, hospitality and events',
       'master of professional accounting - master of business administration',
       'bachelor of commerce',
       'master of international tourism and hospitality management - master of business administration',
       'master of data science (professional)',
       'master of information technology - master of business administration',
       'postgraduate qualifying program - business'], dtype=object)

In [14]:
# Assigns subject codes to each student based on their course.
# For each row, looks up the course in the cleaned_course_subjects dictionary.
# If the course is found, fills subject_1, subject_2, and subject_3 with the corresponding subject codes.
# If the course is not found, fills these columns with None.
def assign_subjects(row):
    subjects = cleaned_course_subjects.get(row['course'], [None, None, None])
    row['subject_1'], row['subject_2'], row['subject_3'] = subjects
    return row

df = df.apply(assign_subjects, axis=1)

In [15]:
# Check for null values in subject 1 to 3
df[['subject_1', 'subject_2', 'subject_3']].isnull().sum()

subject_1    0
subject_2    0
subject_3    0
dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 698 entries, 0 to 697
Data columns (total 38 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   student_id                    698 non-null    int64
 1   course                        698 non-null    object
 2   student_cohort                698 non-null    object
 3   academic_status               698 non-null    object
 4   failed_subjects               0 non-null      float64
 5   study_skills(attended)        698 non-null    object
 6   referral                      698 non-null    object
 7   pp_meeting                    698 non-null    object
 8   self_assessment               698 non-null    object
 9   readiness_assessment_results  698 non-null    object
 10  follow_up                     698 non-null    object
 11  follow_up_type                698 non-null    object
 12  subject_1                     698 non-null    object
 13  subject_1_assess_1            698 non-null    float64
 14  subject_1_assess_2            698 non-null    float64
 15  subject_1_assess_3            698 non-null    float64
 16  subject_1_assess_4            698 non-null    float64
 17  attendance_1                  698 non-null    int64
 18  learn_jcu_issues_1            698 non-null    object
 19  lecturer_referral_1           698 non-null    object
 20  subject_2                     698 non-null    object
 21  subject_2_assess_1            698 non-null    float64
 22  subject_2_assess_2            698 non-null    float64
 23  subject_2_assess_3            698 non-null    float64
 24  subject_2_assess_4            698 non-null    float64
 25  attendance_2                  698 non-null    int64
 26  learn_jcu_issues_2            698 non-null    object
 27  lecturer_referral_2           698 non-null    object
 28  subject_3                     698 non-null    object
 29  subject_3_assess_1            698 non-null    float64
 30  subject_3_assess_2            698 non-null    float64
 31  subject_3_assess_3            698 non-null    float64
 32  subject_3_assess_4            698 non-null    float64
 33  attendance_3                  698 non-null    int64
 34  learn_jcu_issues_3            698 non-null    object
 35  lecturer_referral_3           698 non-null    object
 36  comments                      698 non-null    object
 37  identified_issues             698 non-null    object
dtypes: float64(13), int64(4), object(21)
memory usage: 207.3+ KB

In [17]:
df['course'].value_counts()

master of business administration                                                                 102
master of education - master of business administration                                            90
master of information technology                                                                   77
bachelor of business                                                                               71
master of engineering management                                                                   69
bachelor of information technology                                                                 56
master of professional accounting                                                                  55
master of international tourism and hospitality management                                         50
bachelor of tourism, hospitality and events                                                        30
master of professional accounting - master of business administration                              24
bachelor of commerce                                                                               22
master of international tourism and hospitality management - master of business administration     21
master of data science (professional)                                                              13
master of information technology - master of business administration                               11
postgraduate qualifying program - business                                                          7
Name: course, dtype: int64

In [18]:
df['academic_status'].value_counts()

Academic Caution    156
At Risk             148
Excluded            133
Conditional         131
Satisfactory        130
Name: academic_status, dtype: int64

In [19]:
# Clean the academic status column
# Standardize the values (strip whitespace and title case) 
df['academic_status'] = df['academic_status'].str.strip().str.title()

In [20]:
# Shuffle the DataFrame
df = df.sample(frac=1, random_state=42).reset_index(drop=True)
# Define the target distribution
target_counts = {
    'Satisfactory': 524,
    'Academic Caution': 70,
    'Conditional': 99,
    'Excluded': 5
}

In [21]:
# Create a new column with the desired academic status
new_statuses = (
    ['Satisfactory'] * target_counts['Satisfactory'] +
    ['Academic Caution'] * target_counts['Academic Caution'] +
    ['Conditional'] * target_counts['Conditional'] +
    ['Excluded'] * target_counts['Excluded']
)

In [22]:
# Assign to the DataFrame
df['academic_status'] = new_statuses

# Confirm the new distribution
df['academic_status'].value_counts()

Satisfactory        524
Conditional          99
Academic Caution     70
Excluded              5
Name: academic_status, dtype: int64

In [23]:
df['student_cohort'].value_counts()

Return to Study    101
First year          93
Transferred         92
Continuing          89
Excluded            86
LOA                 85
New                 78
SRI to JCUB         74
Name: student_cohort, dtype: int64

In [24]:
# List of cohort values for which academic status is 'satisfactory
satisfactory_cohorts = ['SRI to JCUB', 'Transferred', 'New']

# Update the academic_status column for those cohorts
df.loc[df['student_cohort'].isin(satisfactory_cohorts), 'academic_status'] = 'Satisfactory'

In [25]:
# List of courses that falls under course group 'IT'
it_courses = [ 'master of information technology',
    'bachelor of information technology',
    'master of data science (professional)',
    'master of information technology - master of business administration',
]

In [26]:
# Create a new column 'course_group' based on whether the course is in the IT list
df['course_group'] = df['course'].apply(
    lambda x: 'IT' if x in it_courses else 'Non-IT'
)

MInfTech
BInfTech
MDataSc(Prof)
MInfTech-MBA

##### Generate records of failed subjects for each program based on statistical estimates

In [27]:
# Fill all nulls with 0
df['failed_subjects'] = df['failed_subjects'].fillna(0)

In [28]:
n_total_stds = 698
n_failed_stds = 77
n_failed_3plus = 17

n_total_stds: Total number of students (698).

n_failed_stds: Number of students who failed at least one subject (77).

n_failed_3plus: Number of students who failed 3 or more subjects (17).

In [29]:
# IT and Non IT
n_it= 157
n_nonit= n_total_stds - n_it
n_it_failed = 31
n_nonit_failed = n_failed_stds - n_it_failed # 46

n_it = Number of IT students (157).

n_nonit = Number of Non IT students (698 - 157).

n_it_failed = Number of IT students who failed at least one subject (31).

n_nonit_failed = Number of non-IT students who failed at least on subject (77-31 = 46).

In [30]:
# Get the row numbers (indices) for each group
it_indices = df[df['course_group']== 'IT'].index
nonit_indices = df[df['course_group']== 'Non-IT'].index

In [31]:
# Randomly pick students who Failed at least One Subject
it_failed_indices = np.random.choice(it_indices, n_it_failed, replace = False)
nonit_failed_indices = np.random.choice(nonit_indices, n_nonit_failed, replace = False)
failed_indices = np.concatenate([it_failed_indices, nonit_failed_indices])
failed_indices

array([108, 213,  22, 411, 507,  72, 396, 147, 412, 467,  29, 659,  42,
        58, 432, 136, 153,  10, 484,  98, 481,   5, 315, 142, 150, 531,
       351, 282,  80, 641, 497, 353, 677, 375, 697, 580, 264, 627, 691,
       183, 388, 512, 687, 123, 241, 502, 499, 415, 394,  89, 141, 270,
       178, 692, 275, 115, 479,  52, 645, 267, 451, 414,  20, 426, 445,
       306, 227, 234, 349, 208, 594, 477, 663, 658, 423,  96, 161])

In [32]:
# Among the failed students, pick who failed 3 or more subjects
failed_3plus_indices = np.random.choice(failed_indices, n_failed_3plus, replace=False)
failed_1or2_indices = np.setdiff1d(failed_indices, failed_3plus_indices) # Return the elements in failed_indices that are NOT in failed_3plus_indices

In [33]:
# Assign the number of failed subjects
df.loc[failed_3plus_indices, 'failed_subjects'] = np.random.randint(3,5, size=n_failed_3plus)
df.loc[failed_1or2_indices, 'failed_subjects'] = np.random.randint(1,3, size=len(failed_1or2_indices))

In [34]:
print("Total students:", len(df))
print("Students with at least 1 failed subject:", (df['failed_subjects'] > 0).sum())
print("Students with 3+ failed subjects:", (df['failed_subjects'] >= 3).sum())
print("IT students with at least 1 failed subject:", df[(df['course_group'] == 'IT') & (df['failed_subjects'] > 0)].shape[0])
print("Non-IT students with at least 1 failed subject:", df[(df['course_group'] == 'Non-IT') & (df['failed_subjects'] > 0)].shape[0])

Total students: 698
Students with at least 1 failed subject: 77
Students with 3+ failed subjects: 17
IT students with at least 1 failed subject: 31
Non-IT students with at least 1 failed subject: 46

In [35]:
df['failed_subjects'].isnull().sum()

0

In [36]:
# Filter rows where student_cohort is 'new' and failed_subjects > 0
filtered_df = df[(df['student_cohort'] == 'New') & (df['failed_subjects'] > 0)]

# Display the filtered rows
print(filtered_df)
len(filtered_df)

     student_id                                             course  \
10          672              master of data science (professional)
108         193                   master of information technology
141          52                  master of business administration
161         330                               bachelor of business
183         115  master of education - master of business admin...
208         179  master of education - master of business admin...
306         334                               bachelor of business
396         230                   master of information technology
451         538  master of international tourism and hospitalit...
580         589        bachelor of tourism, hospitality and events
692          21                  master of business administration

    student_cohort academic_status  failed_subjects  \
10             New    Satisfactory              1.0
108            New    Satisfactory              1.0
141            New    Satisfactory              2.0
161            New    Satisfactory              3.0
183            New    Satisfactory              1.0
208            New    Satisfactory              4.0
306            New    Satisfactory              2.0
396            New    Satisfactory              1.0
451            New    Satisfactory              2.0
580            New    Satisfactory              2.0
692            New    Satisfactory              1.0

           study_skills(attended)            referral    pp_meeting  \
10   Essential Skills and Reading               Other  Not relevant
108                       Writing          Enrollment   Rescheduled
141                   Referencing    Student Advocate      Attended
161                    Studiocity               Other        Booked
183                    Studiocity               Other        Booked
208                   Referencing            Lecturer  Not relevant
306                    Studiocity            Lecturer  Not relevant
396                       Writing            Lecturer   Rescheduled
451  Essential Skills and Reading    Student Advocate  Not relevant
580                    Studiocity  Student Counsellor  Not relevant
692              Essential Skills  Student Counsellor  Not relevant

    self_assessment readiness_assessment_results  ... subject_3_assess_1  \
10              Yes       L/G:9/10 N:5/10 R:8/10  ...              66.82
108             Yes       L/G:9/10 N:5/10 R:8/10  ...              67.12
141             Yes       L/G:9/10 N:5/10 R:8/10  ...              47.74
161             Yes       L/G:9/10 N:5/10 R:8/10  ...              29.47
183             Yes       L/G:9/10 N:5/10 R:8/10  ...              20.63
208              No       L/G:9/10 N:5/10 R:8/10  ...              43.23
306              No       L/G:9/10 N:5/10 R:8/10  ...              73.45
396             Yes       L/G:9/10 N:5/10 R:8/10  ...               2.58
451             Yes       L/G:9/10 N:5/10 R:8/10  ...              90.08
580              No       L/G:9/10 N:5/10 R:8/10  ...              54.93
692             Yes       L/G:9/10 N:5/10 R:8/10  ...              69.04

    subject_3_assess_2 subject_3_assess_3  subject_3_assess_4  attendance_3  \
10               88.60              29.88               97.46            75
108              55.95              51.87               91.76            10
141              41.52              85.05                2.73            41
161              72.50              10.88               88.24            53
183               7.55              42.93               93.73            70
208              18.57              33.53               81.48            62
306              23.98              99.91               43.24            67
396              21.80               1.84               90.31            65
451              69.05              34.11               57.73            94
580              43.56              78.42               45.07            47
692              98.82              14.88               85.44            45

     learn_jcu_issues_3  lecturer_referral_3  \
10            No Access           Attendance
108              Access  Concern for Welfare
141              Access           Attendance
161              Access       Non Submission
183           No Access       Non Submission
208              Access           Attendance
306              Access       Non Submission
396              Access       Non Submission
451              Access           Attendance
580              Access       Non Submission
692              Access           Attendance

                                              comments     identified_issues  \
10   Week 5. Low engagement in tutorials. Follow-up...       Death in family
108  Week 7. Missed second assessment. Student cont...  Poor time management
141  Week 3. First contact made. Student reported i...       Late Enrollment
161  Week 7. Missed second assessment. Student cont...              Sickness
183  Week 6. Student reported working long hours. R...       Late Enrollment
208  Week 6. Student reported working long hours. R...  Poor time management
306  Week 6. Student submitted assessment late. Ext...       Late Enrollment
396  Week 6. Student reported working long hours. R...              Sickness
451  Week 3. Student enrolled late. Missing foundat...       Late Enrollment
580  Week 5. Low engagement in tutorials. Follow-up...              Sickness
692  Week 3. Student enrolled late. Missing foundat...       Death in family

    course_group
10            IT
108           IT
141       Non-IT
161       Non-IT
183       Non-IT
208       Non-IT
306       Non-IT
396           IT
451       Non-IT
580       Non-IT
692       Non-IT

[11 rows x 39 columns]

11