In [1]:
# Import required libraries
import pandas as pd
import numpy as np

In [2]:
# Load dataset
df = pd.read_excel('student_data.xlsx')

# Show all columns when displaying DataFrames
pd.set_option('display.max_columns', None)
df.head()

,student_id,course,student_cohort,academic_status,failed_subjects,study_skills(attended),referral,pp_meeting,self_assessment,readiness_assessment_results,follow_up,follow_up_type,subject_1,subject_1_assess_1,subject_1_assess_2,subject_1_assess_3,subject_1_assess_4,attendance_1,learn_jcu_issues_1,lecturer_referral_1,subject_2,subject_2_assess_1,subject_2_assess_2,subject_2_assess_3,subject_2_assess_4,attendance_2,learn_jcu_issues_2,lecturer_referral_2,subject_3,subject_3_assess_1,subject_3_assess_2,subject_3_assess_3,subject_4_assess_4,attendance_3,learn_jcu_issues_3,lecturer_referral_3,comments,identified_issues
0,1,Master of Business Administration,SRI to JCUB,At Risk,NaN,Essential Skills,Student Counsellor,Booked,Yes,L/G:9/10 N:5/10 R:8/10,Yes,No Reply,NaN,7.70,27.22,26.51,50.09,20,Access,Concern for Welfare,NaN,69.33,44.44,11.39,18.78,41,Access,Attendance,NaN,39.02,17.71,94.50,9.83,89,Access,Non Submission,Week 8. Student re-engaged with tutorials. Sub...,Late Enrollment
1,2,Master of Business Administration,Continuing,Excluded,NaN,Referencing,Student Advocate,Not relevant,Yes,L/G:9/10 N:5/10 R:8/10,No,Phone,NaN,31.14,54.66,81.72,1.96,9,Access,Non Submission,NaN,95.23,48.61,14.68,44.77,66,No Access,Concern for Welfare,NaN,3.72,38.52,25.80,11.80,100,No Access,Non Submission,booked to see a doctor. Week 5. Student contac...,Poor time management
2,3,Master of Business Administration,First year,At Risk,NaN,Writing,Enrollment,Attended,Yes,L/G:9/10 N:5/10 R:8/10,Yes,Phone,NaN,39.09,75.39,84.62,82.66,51,No Access,Attendance,NaN,86.20,98.80,71.57,96.08,64,No Access,Concern for Welfare,NaN,77.77,77.27,81.95,62.35,42,Access,Attendance,Week 8. Student re-engaged with tutorials. Sub...,Poor time management
3,4,Master of Business Administration,New,Excluded,NaN,Essential Skills,Student Advocate,Attended,No,L/G:9/10 N:5/10 R:8/10,No,F2F,NaN,88.59,84.36,3.79,26.05,34,Access,Concern for Welfare,NaN,7.69,25.96,49.83,17.77,57,Access,Non Submission,NaN,95.41,8.93,3.21,99.15,51,Access,Concern for Welfare,Week 6. Student submitted assessment late. Ext...,Death in family
4,5,Master of Business Administration,Continuing,At Risk,NaN,Essential Skills and Reading,Student Counsellor,Not relevant,No,L/G:9/10 N:5/10 R:8/10,Yes,No Reply,NaN,0.98,13.80,53.40,39.69,45,Access,Attendance,NaN,60.51,57.47,15.80,33.59,3,No Access,Concern for Welfare,NaN,90.12,52.18,36.05,20.65,19,Access,Concern for Welfare,Week 3 late enrolment. Student finding it diff...,Sickness

#### Data Cleaning and Exploration

In [3]:
# Print a concise summary of the DataFrame, including column names, data types, non-null counts, and memory usage.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 698 entries, 0 to 697
Data columns (total 38 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   student_id                    698 non-null    int64
 1   course                        698 non-null    object
 2   student_cohort                698 non-null    object
 3   academic_status               698 non-null    object
 4   failed_subjects               0 non-null      float64
 5   study_skills(attended)        698 non-null    object
 6   referral                      698 non-null    object
 7   pp_meeting                    698 non-null    object
 8   self_assessment               698 non-null    object
 9   readiness_assessment_results  698 non-null    object
 10  follow_up                     698 non-null    object
 11  follow_up_type                698 non-null    object
 12  subject_1                     0 non-null      float64
 13  subject_1_assess_1            698 non-null    float64
 14  subject_1_assess_2            698 non-null    float64
 15  subject_1_assess_3            698 non-null    float64
 16  subject_1_assess_4            698 non-null    float64
 17  attendance_1                  698 non-null    int64
 18  learn_jcu_issues_1            698 non-null    object
 19  lecturer_referral_1           698 non-null    object
 20  subject_2                     0 non-null      float64
 21  subject_2_assess_1            698 non-null    float64
 22  subject_2_assess_2            698 non-null    float64
 23  subject_2_assess_3            698 non-null    float64
 24  subject_2_assess_4            698 non-null    float64
 25  attendance_2                  698 non-null    int64
 26  learn_jcu_issues_2            698 non-null    object
 27  lecturer_referral_2           698 non-null    object
 28  subject_3                     0 non-null      float64
 29  subject_3_assess_1            698 non-null    float64
 30  subject_3_assess_2            698 non-null    float64
 31  subject_3_assess_3            698 non-null    float64
 32  subject_4_assess_4            698 non-null    float64
 33  attendance_3                  698 non-null    int64
 34  learn_jcu_issues_3            698 non-null    object
 35  lecturer_referral_3           698 non-null    object
 36  comments                      698 non-null    object
 37  identified_issues             698 non-null    object
dtypes: float64(16), int64(4), object(18)
memory usage: 207.3+ KB

In [4]:
df.rename(columns={'subject_4_assess_4':'subject_3_assess_4'}, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 698 entries, 0 to 697
Data columns (total 38 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   student_id                    698 non-null    int64
 1   course                        698 non-null    object
 2   student_cohort                698 non-null    object
 3   academic_status               698 non-null    object
 4   failed_subjects               0 non-null      float64
 5   study_skills(attended)        698 non-null    object
 6   referral                      698 non-null    object
 7   pp_meeting                    698 non-null    object
 8   self_assessment               698 non-null    object
 9   readiness_assessment_results  698 non-null    object
 10  follow_up                     698 non-null    object
 11  follow_up_type                698 non-null    object
 12  subject_1                     0 non-null      float64
 13  subject_1_assess_1            698 non-null    float64
 14  subject_1_assess_2            698 non-null    float64
 15  subject_1_assess_3            698 non-null    float64
 16  subject_1_assess_4            698 non-null    float64
 17  attendance_1                  698 non-null    int64
 18  learn_jcu_issues_1            698 non-null    object
 19  lecturer_referral_1           698 non-null    object
 20  subject_2                     0 non-null      float64
 21  subject_2_assess_1            698 non-null    float64
 22  subject_2_assess_2            698 non-null    float64
 23  subject_2_assess_3            698 non-null    float64
 24  subject_2_assess_4            698 non-null    float64
 25  attendance_2                  698 non-null    int64
 26  learn_jcu_issues_2            698 non-null    object
 27  lecturer_referral_2           698 non-null    object
 28  subject_3                     0 non-null      float64
 29  subject_3_assess_1            698 non-null    float64
 30  subject_3_assess_2            698 non-null    float64
 31  subject_3_assess_3            698 non-null    float64
 32  subject_3_assess_4            698 non-null    float64
 33  attendance_3                  698 non-null    int64
 34  learn_jcu_issues_3            698 non-null    object
 35  lecturer_referral_3           698 non-null    object
 36  comments                      698 non-null    object
 37  identified_issues             698 non-null    object
dtypes: float64(16), int64(4), object(18)
memory usage: 207.3+ KB

In [5]:
df['course'] = df['course'].str.strip().str.lower()
df['course'].unique()

array(['master of business administration',
       'master of education - master of business administration',
       'master of information technology', 'bachelor of business',
       'master of engineering management',
       'bachelor of information technology',
       'master of professional accounting',
       'master of international tourism and hospitality management',
       'bachelor of tourism, hospitality and events',
       'master of professional account and master of business administration',
       'bachelor of commerce',
       'master of international tourism and hospitality management - master of business administration',
       'master of data science (professional)',
       'master of information technology - master of business administration',
       'postgraduate qualifying program - business'], dtype=object)

In [6]:
# Map subject code to subject names using Dictionary
subject_dict = {
    "BU1002": "Accounting for Decision Making",
    "BU1003": "Principles of Economics",
    "BU1007": "Principles of Data Analysis for Business",
    "BU1112": "Business Law",
    "BX2011": "Foundation of Accounting Principles",
    "BX2014": "Principles of Finance",
    "CP1401": "Fundamentals of Problem Solving and Programming I",
    "CP1402": "Internet Fundamentals",
    "CP1404": "Programming II",
    "TO1008": "Introduction to Tourism, Hospitality and Events Management",
    "TO2117": "Food and Beverage Management",
    "TO3052": "Experience Design for Tourism Hospitality and Events",
    "LB5113": "Corporate Strategy",
    "LB5202": "Marketing Essentials",
    "LB5205": "People in Organisations",
    "MA5831": "Advanced Data Management and Analysis using SAS",
    "MA5840": "Data Science and Strategic Decision Making for Business",
    "MA5851": "Data Science Master Class 1",
    "ED5097": "Research Design and Proposal",
    "ED5880": "Educational Leadership",
    "EG5200": "Career Planning",
    "EG5220": "Advanced Asset Management and Reliability",
    "EG5310": "Professional Placement",
    "CP5046": "ICT Project 1: Analysis and Design",
    "CP5047": "ICT Project 2: Implementation and Commissioning",
    "CP5503": "Enterprise Database Systems - Oracle",
    "TO5101": "Tourism Systems Analysis",
    "TO5103": "Global Destinations and Competitiveness",
    "TO5104": "Tourist Management Strategies",
    "CO5117": "Introduction to Accounting",
    "CO5103": "Management Accounting",
    "CO5109": "Corporate Finance",
    "LB5203": "Sustainable Enterprise",
    "LB5212": "Accounting and Finance for Managers"
}

In [7]:
# Get the subject name from the subject code
subject_dict['BU1007'] # Output: Principles of Data Analysis for Business

'Principles of Data Analysis for Business'

In [8]:
# Map each course to a list of three subject codes
course_subjects = {
    'Bachelor of Business': ['BU1002', 'BU1003', 'BU1007'],
    'Bachelor of Commerce': ['BU1112', 'BX2011', 'BX2014'],
    'Bachelor of Information Technology': ['CP1401', 'CP1402', 'CP1404'],
    'Bachelor of Tourism, Hospitality and Events': ['TO1008', 'TO2117', 'TO3052'],
    'Master of Business Administration': ['LB5113', 'LB5202', 'LB5205'],
    'Master of Data Science (Professional)': ['MA5831', 'MA5840', 'MA5851'],
    'Master of Education - Master of Business Administration': ['ED5097', 'ED5880', 'LB5113'],
    'Master of Engineering Management': ['EG5200', 'EG5220', 'EG5310'],
    'Master of Information Technology': ['CP5046', 'CP5047', 'CP5503'],
    'Master of Information Technology - Master of Business Administration': ['CP5046', 'LB5113', 'LB5202'],
    'Master of International Tourism and Hospitality Management': ['TO5101', 'TO5103', 'TO5104'],
    'Master of International Tourism and Hospitality Management - Master of Business Administration': ['TO5101', 'LB5113', 'LB5202'],
    'Master of Professional Accounting': ['CO5117', 'CO5103', 'CO5109'],
    'Master of Professional Accounting - Master of Business Administration': ['CO5117', 'CO5103', 'LB5113'],
    'Postgraduate Qualifying Program - Business': ['LB5202', 'LB5203', 'LB5212']
}

In [9]:
# Get the course subjects from the course
course_subjects['Bachelor of Information Technology'] # Output: 'CP1401', 'CP1402', 'CP1404']

['CP1401', 'CP1402', 'CP1404']

In [10]:
# Create a new dictionary with cleaned course names as keys
# For each key-value pair in the original course_subjects dictionary:
#   Remove any leading/trailing spaces from the course name (key) using strip()
#   Convert the course name to lowercase using lower()
#   Keep the value (list of subjects) unchanged
cleaned_course_subjects = {k.strip().lower(): v for k, v in course_subjects.items()}
cleaned_course_subjects

{'bachelor of business': ['BU1002', 'BU1003', 'BU1007'],
 'bachelor of commerce': ['BU1112', 'BX2011', 'BX2014'],
 'bachelor of information technology': ['CP1401', 'CP1402', 'CP1404'],
 'bachelor of tourism, hospitality and events': ['TO1008', 'TO2117', 'TO3052'],
 'master of business administration': ['LB5113', 'LB5202', 'LB5205'],
 'master of data science (professional)': ['MA5831', 'MA5840', 'MA5851'],
 'master of education - master of business administration': ['ED5097',
  'ED5880',
  'LB5113'],
 'master of engineering management': ['EG5200', 'EG5220', 'EG5310'],
 'master of information technology': ['CP5046', 'CP5047', 'CP5503'],
 'master of information technology - master of business administration': ['CP5046',
  'LB5113',
  'LB5202'],
 'master of international tourism and hospitality management': ['TO5101',
  'TO5103',
  'TO5104'],
 'master of international tourism and hospitality management - master of business administration': ['TO5101',
  'LB5113',
  'LB5202'],
 'master of professional accounting': ['CO5117', 'CO5103', 'CO5109'],
 'master of professional accounting - master of business administration': ['CO5117',
  'CO5103',
  'LB5113'],
 'postgraduate qualifying program - business': ['LB5202', 'LB5203', 'LB5212']}

In [11]:
# Get unique course names in DataFrame
unique_courses = df['course'].unique()

# Find which course names are not keys in cleaned_course_subjects dictionary
courses_not_in_cleaned = [course for course in unique_courses if course not in cleaned_course_subjects]
courses_not_in_cleaned

['master of professional account and master of business administration']

In [12]:
df['course'].replace('master of professional account and master of business administration', 'master of professional accounting - master of business administration', inplace=True)

In [13]:
# check if the course value has been updated
df['course'].unique()

array(['master of business administration',
       'master of education - master of business administration',
       'master of information technology', 'bachelor of business',
       'master of engineering management',
       'bachelor of information technology',
       'master of professional accounting',
       'master of international tourism and hospitality management',
       'bachelor of tourism, hospitality and events',
       'master of professional accounting - master of business administration',
       'bachelor of commerce',
       'master of international tourism and hospitality management - master of business administration',
       'master of data science (professional)',
       'master of information technology - master of business administration',
       'postgraduate qualifying program - business'], dtype=object)

In [14]:
# Assigns subject codes to each student based on their course.
# For each row, looks up the course in the cleaned_course_subjects dictionary.
# If the course is found, fills subject_1, subject_2, and subject_3 with the corresponding subject codes.
# If the course is not found, fills these columns with None.
def assign_subjects(row):
    subjects = cleaned_course_subjects.get(row['course'], [None, None, None])
    row['subject_1'], row['subject_2'], row['subject_3'] = subjects
    return row

df = df.apply(assign_subjects, axis=1)

In [15]:
# Check for null values in subject 1 to 3
df[['subject_1', 'subject_2', 'subject_3']].isnull().sum()

subject_1    0
subject_2    0
subject_3    0
dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 698 entries, 0 to 697
Data columns (total 38 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   student_id                    698 non-null    int64
 1   course                        698 non-null    object
 2   student_cohort                698 non-null    object
 3   academic_status               698 non-null    object
 4   failed_subjects               0 non-null      float64
 5   study_skills(attended)        698 non-null    object
 6   referral                      698 non-null    object
 7   pp_meeting                    698 non-null    object
 8   self_assessment               698 non-null    object
 9   readiness_assessment_results  698 non-null    object
 10  follow_up                     698 non-null    object
 11  follow_up_type                698 non-null    object
 12  subject_1                     698 non-null    object
 13  subject_1_assess_1            698 non-null    float64
 14  subject_1_assess_2            698 non-null    float64
 15  subject_1_assess_3            698 non-null    float64
 16  subject_1_assess_4            698 non-null    float64
 17  attendance_1                  698 non-null    int64
 18  learn_jcu_issues_1            698 non-null    object
 19  lecturer_referral_1           698 non-null    object
 20  subject_2                     698 non-null    object
 21  subject_2_assess_1            698 non-null    float64
 22  subject_2_assess_2            698 non-null    float64
 23  subject_2_assess_3            698 non-null    float64
 24  subject_2_assess_4            698 non-null    float64
 25  attendance_2                  698 non-null    int64
 26  learn_jcu_issues_2            698 non-null    object
 27  lecturer_referral_2           698 non-null    object
 28  subject_3                     698 non-null    object
 29  subject_3_assess_1            698 non-null    float64
 30  subject_3_assess_2            698 non-null    float64
 31  subject_3_assess_3            698 non-null    float64
 32  subject_3_assess_4            698 non-null    float64
 33  attendance_3                  698 non-null    int64
 34  learn_jcu_issues_3            698 non-null    object
 35  lecturer_referral_3           698 non-null    object
 36  comments                      698 non-null    object
 37  identified_issues             698 non-null    object
dtypes: float64(13), int64(4), object(21)
memory usage: 207.3+ KB

In [17]:
df['course'].value_counts()

master of business administration                                                                 102
master of education - master of business administration                                            90
master of information technology                                                                   77
bachelor of business                                                                               71
master of engineering management                                                                   69
bachelor of information technology                                                                 56
master of professional accounting                                                                  55
master of international tourism and hospitality management                                         50
bachelor of tourism, hospitality and events                                                        30
master of professional accounting - master of business administration                              24
bachelor of commerce                                                                               22
master of international tourism and hospitality management - master of business administration     21
master of data science (professional)                                                              13
master of information technology - master of business administration                               11
postgraduate qualifying program - business                                                          7
Name: course, dtype: int64

In [18]:
df.head()

,student_id,course,student_cohort,academic_status,failed_subjects,study_skills(attended),referral,pp_meeting,self_assessment,readiness_assessment_results,follow_up,follow_up_type,subject_1,subject_1_assess_1,subject_1_assess_2,subject_1_assess_3,subject_1_assess_4,attendance_1,learn_jcu_issues_1,lecturer_referral_1,subject_2,subject_2_assess_1,subject_2_assess_2,subject_2_assess_3,subject_2_assess_4,attendance_2,learn_jcu_issues_2,lecturer_referral_2,subject_3,subject_3_assess_1,subject_3_assess_2,subject_3_assess_3,subject_3_assess_4,attendance_3,learn_jcu_issues_3,lecturer_referral_3,comments,identified_issues
0,1,master of business administration,SRI to JCUB,At Risk,NaN,Essential Skills,Student Counsellor,Booked,Yes,L/G:9/10 N:5/10 R:8/10,Yes,No Reply,LB5113,7.70,27.22,26.51,50.09,20,Access,Concern for Welfare,LB5202,69.33,44.44,11.39,18.78,41,Access,Attendance,LB5205,39.02,17.71,94.50,9.83,89,Access,Non Submission,Week 8. Student re-engaged with tutorials. Sub...,Late Enrollment
1,2,master of business administration,Continuing,Excluded,NaN,Referencing,Student Advocate,Not relevant,Yes,L/G:9/10 N:5/10 R:8/10,No,Phone,LB5113,31.14,54.66,81.72,1.96,9,Access,Non Submission,LB5202,95.23,48.61,14.68,44.77,66,No Access,Concern for Welfare,LB5205,3.72,38.52,25.80,11.80,100,No Access,Non Submission,booked to see a doctor. Week 5. Student contac...,Poor time management
2,3,master of business administration,First year,At Risk,NaN,Writing,Enrollment,Attended,Yes,L/G:9/10 N:5/10 R:8/10,Yes,Phone,LB5113,39.09,75.39,84.62,82.66,51,No Access,Attendance,LB5202,86.20,98.80,71.57,96.08,64,No Access,Concern for Welfare,LB5205,77.77,77.27,81.95,62.35,42,Access,Attendance,Week 8. Student re-engaged with tutorials. Sub...,Poor time management
3,4,master of business administration,New,Excluded,NaN,Essential Skills,Student Advocate,Attended,No,L/G:9/10 N:5/10 R:8/10,No,F2F,LB5113,88.59,84.36,3.79,26.05,34,Access,Concern for Welfare,LB5202,7.69,25.96,49.83,17.77,57,Access,Non Submission,LB5205,95.41,8.93,3.21,99.15,51,Access,Concern for Welfare,Week 6. Student submitted assessment late. Ext...,Death in family
4,5,master of business administration,Continuing,At Risk,NaN,Essential Skills and Reading,Student Counsellor,Not relevant,No,L/G:9/10 N:5/10 R:8/10,Yes,No Reply,LB5113,0.98,13.80,53.40,39.69,45,Access,Attendance,LB5202,60.51,57.47,15.80,33.59,3,No Access,Concern for Welfare,LB5205,90.12,52.18,36.05,20.65,19,Access,Concern for Welfare,Week 3 late enrolment. Student finding it diff...,Sickness

In [19]:
df['academic_status'].value_counts()

Academic Caution    156
At Risk             148
Excluded            133
Conditional         131
Satisfactory        130
Name: academic_status, dtype: int64

In [20]:
# Clean the academic status column
# Standardize the values (strip whitespace and title case) 
df['academic_status'] = df['academic_status'].str.strip().str.title()

In [21]:
# Shuffle the DataFrame
df = df.sample(frac=1, random_state=42).reset_index(drop=True)
# Define the target distribution
target_counts = {
    'Satisfactory': 524,
    'Academic Caution': 70,
    'Conditional': 99,
    'Excluded': 5
}

In [22]:
# Create a new column with the desired academic status
new_statuses = (
    ['Satisfactory'] * target_counts['Satisfactory'] +
    ['Academic Caution'] * target_counts['Academic Caution'] +
    ['Conditional'] * target_counts['Conditional'] +
    ['Excluded'] * target_counts['Excluded']
)

In [23]:
# Assign to the DataFrame
df['academic_status'] = new_statuses

# Confirm the new distribution
df['academic_status'].value_counts()

Satisfactory        524
Conditional          99
Academic Caution     70
Excluded              5
Name: academic_status, dtype: int64

In [24]:
df['academic_status'].unique()

array(['Satisfactory', 'Academic Caution', 'Conditional', 'Excluded'],
      dtype=object)

In [25]:
df['student_cohort'].value_counts()

Return to Study    101
First year          93
Transferred         92
Continuing          89
Excluded            86
LOA                 85
New                 78
SRI to JCUB         74
Name: student_cohort, dtype: int64

In [26]:
# List of cohort values for which academic status is 'satisfactory
satisfactory_cohorts = ['SRI to JCUB', 'Transferred', 'New']

# Update the academic_status column for those cohorts
df.loc[df['student_cohort'].isin(satisfactory_cohorts), 'academic_status'] = 'Satisfactory'

In [27]:
# List of courses that falls under course group 'IT'
it_courses = [ 'master of information technology',
    'bachelor of information technology',
    'master of data science (professional)',
    'master of information technology - master of business administration',
]

In [28]:
# Create a new column 'course_group' based on whether the course is in the IT list
df['course_group'] = df['course'].apply(
    lambda x: 'IT' if x in it_courses else 'Non-IT'
)

##### Generate records of failed subjects for each program based on statistical estimates

In [29]:
# Fill all nulls with 0
df['failed_subjects'] = df['failed_subjects'].fillna(0)

In [30]:
n_total_stds = 698
n_failed_stds = 77
n_failed_3plus = 17

n_total_stds: Total number of students (698).

n_failed_stds: Number of students who failed at least one subject (77).

n_failed_3plus: Number of students who failed 3 or more subjects (17).

In [31]:
# IT and Non IT
n_it= 157
n_nonit= n_total_stds - n_it
n_it_failed = 31
n_nonit_failed = n_failed_stds - n_it_failed # 46

n_it = Number of IT students (157).

n_nonit = Number of Non IT students (698 - 157).

n_it_failed = Number of IT students who failed at least one subject (31).

n_nonit_failed = Number of non-IT students who failed at least on subject (77-31 = 46).

In [32]:
# Get the row numbers (indices) for each group
it_indices = df[df['course_group']== 'IT'].index
nonit_indices = df[df['course_group']== 'Non-IT'].index

In [37]:
# Randomly pick students who Failed at least One Subject
it_failed_indices = np.random.choice(it_indices, n_it_failed, replace = False)

# Filter the DataFrame to only those indices
it_subset = df.loc[it_failed_indices]
it_subset['academic_status'].value_counts()

Satisfactory        25
Conditional          3
Academic Caution     3
Name: academic_status, dtype: int64

In [34]:
# Step 3: Keep only rows where academic_status is not "Satisfactory"
filtered_it_failed_subset = it_subset[it_subset['academic_status'] != "Satisfactory"]
filtered_it_failed_subset["academic_status"].unique()

array(['Conditional', 'Academic Caution'], dtype=object)

In [35]:
# Filter for IT students
it_students = df[df['course_group'] == 'IT']

# Get unique combinations of IT students and their academic status
unique_it_status = it_students[['course_group', 'academic_status']].drop_duplicates()

unique_it_status.value_counts()

course_group  academic_status
IT            Academic Caution    1
              Conditional         1
              Excluded            1
              Satisfactory        1
dtype: int64

In [36]:

filtered_it_failed_indices = it_failed_indices[df['academic_status']!="Satisfactory"]
filtered_it_failed_indices
nonit_failed_indices = np.random.choice(nonit_indices, n_nonit_failed, replace = False)
failed_indices = np.concatenate([it_failed_indices, nonit_failed_indices])

IndexError: boolean index did not match indexed array along dimension 0; dimension is 31 but corresponding boolean dimension is 698

In [35]:
# Among the failed students, pick who failed 3 or more subjects
failed_3plus_indices = np.random.choice(failed_indices, n_failed_3plus, replace=False)
failed_1or2_indices = np.setdiff1d(failed_indices, failed_3plus_indices) # Return the elements in failed_indices that are NOT in failed_3plus_indices

In [36]:
# Assign the number of failed subjects
# df.loc[failed_3plus_indices, 'failed_subjects'] = np.random.randint(3,5, size=n_failed_3plus)
# df.loc[failed_1or2_indices, 'failed_subjects'] = np.random.randint(1,3, size=len(failed_1or2_indices))

In [37]:
# Set everyone to Satisfactory and 0 failed_subjects by default
df['academic_status'] = 'Satisfactory'
df['failed_subjects'] = 0

# Assign Excluded: failed 68 subjects
n_excluded = 5  
excluded_indices = np.random.choice(failed_3plus_indices, n_excluded, replace=False)
df.loc[excluded_indices, 'academic_status'] = 'Excluded'
df.loc[excluded_indices, 'failed_subjects'] = np.random.randint(6, 9, size=n_excluded)

# Remove Excluded from failed_3plus_indices
remaining_3plus_indices = np.setdiff1d(failed_3plus_indices, excluded_indices)

# Assign Conditional: failed 24 subjects
n_conditional = 42  # Adjust as needed for your count
conditional_indices = np.random.choice(
    np.concatenate([remaining_3plus_indices, failed_1or2_indices]),
    n_conditional,
    replace=False
)
df.loc[conditional_indices, 'academic_status'] = 'Conditional'
df.loc[conditional_indices, 'failed_subjects'] = np.random.randint(2, 5, size=n_conditional)

# Remove Conditional from pool
remaining_indices = np.setdiff1d(
    np.concatenate([remaining_3plus_indices, failed_1or2_indices]),
    conditional_indices
)

# Assign Academic Caution: failed 12 subjects
n_caution = 70  # Adjust as needed for your count
caution_indices = np.random.choice(remaining_indices, n_caution, replace=False)
df.loc[caution_indices, 'academic_status'] = 'Academic Caution'
df.loc[caution_indices, 'failed_subjects'] = np.random.randint(1, 3, size=n_caution)

ValueError: Cannot take a larger sample than population when 'replace=False'

In [ ]:
print("Total students:", len(df))
print("Students with at least 1 failed subject:", (df['failed_subjects'] > 0).sum())
print("Students with 3+ failed subjects:", (df['failed_subjects'] >= 3).sum())
print("IT students with at least 1 failed subject:", df[(df['course_group'] == 'IT') & (df['failed_subjects'] > 0)].shape[0])
print("Non-IT students with at least 1 failed subject:", df[(df['course_group'] == 'Non-IT') & (df['failed_subjects'] > 0)].shape[0])

In [38]:
df['failed_subjects'].isnull().sum()

0

In [39]:
# Filter rows where student_cohort is 'new' and failed_subjects > 0
filtered_df = df[(df['student_cohort'] == 'New') & (df['failed_subjects'] > 0)]

# Display the filtered rows
print(filtered_df)
len(filtered_df)

     student_id                                             course  \
10          672              master of data science (professional)
101         165  master of education - master of business admin...
108         193                   master of information technology
134         515                  master of professional accounting
416          68                  master of business administration
425         384                   master of engineering management
451         538  master of international tourism and hospitalit...
493         621  master of professional accounting - master of ...
530         387                   master of engineering management

    student_cohort academic_status  failed_subjects  \
10             New    Satisfactory              2.0
101            New    Satisfactory              3.0
108            New    Satisfactory              2.0
134            New    Satisfactory              4.0
416            New    Satisfactory              3.0
425            New    Satisfactory              4.0
451            New    Satisfactory              2.0
493            New    Satisfactory              4.0
530            New    Satisfactory              4.0

           study_skills(attended)          referral    pp_meeting  \
10   Essential Skills and Reading             Other  Not relevant
101                    Studiocity        Enrollment        Booked
108                       Writing        Enrollment   Rescheduled
134                       Writing  Student Advocate   Rescheduled
416                       Writing             Other   Rescheduled
425                       Writing  Student Advocate      Attended
451  Essential Skills and Reading  Student Advocate  Not relevant
493                       Writing  Student Advocate  Not relevant
530           4R Essential Skills             Other  Not relevant

    self_assessment readiness_assessment_results follow_up follow_up_type  \
10              Yes       L/G:9/10 N:5/10 R:8/10        No            F2F
101              No       L/G:9/10 N:5/10 R:8/10       Yes          Email
108             Yes       L/G:9/10 N:5/10 R:8/10        No            F2F
134              No       L/G:9/10 N:5/10 R:8/10       Yes          Phone
416             Yes       L/G:9/10 N:5/10 R:8/10        No          Email
425             Yes       L/G:9/10 N:5/10 R:8/10       Yes          Email
451             Yes       L/G:9/10 N:5/10 R:8/10        No          Phone
493             Yes       L/G:9/10 N:5/10 R:8/10       Yes          Phone
530              No       L/G:9/10 N:5/10 R:8/10       Yes            F2F

    subject_1  subject_1_assess_1  subject_1_assess_2  subject_1_assess_3  \
10     MA5831                2.09               90.53               89.91
101    ED5097               88.92               21.11               16.46
108    CP5046               41.65               44.19               23.35
134    CO5117               72.09               61.65                7.32
416    LB5113               11.34                5.86               81.13
425    EG5200               21.44               99.84                8.90
451    TO5101               67.50               89.29               58.98
493    CO5117               52.15               92.22               76.73
530    EG5200                5.77               73.18                6.39

     subject_1_assess_4  attendance_1 learn_jcu_issues_1  lecturer_referral_1  \
10                88.33            97             Access       Non Submission
101               67.45            50             Access  Concern for Welfare
108               51.85            68             Access  Concern for Welfare
134               85.54            88             Access           Attendance
416               84.06             7             Access           Attendance
425               26.03            64             Access           Attendance
451               43.40             1             Access       Non Submission
493               19.15            96             Access           Attendance
530               97.49             6             Access  Concern for Welfare

    subject_2  subject_2_assess_1  subject_2_assess_2  subject_2_assess_3  \
10     MA5840               90.98               90.52               52.03
101    ED5880               25.19               50.18               48.81
108    CP5047               17.65               65.46               52.07
134    CO5103               24.90               47.01               18.16
416    LB5202               12.81               36.35               39.35
425    EG5220               29.98               63.16               52.90
451    TO5103               95.87               91.09               87.17
493    CO5103               91.37                4.75                0.04
530    EG5220                7.28               59.43               10.25

     subject_2_assess_4  attendance_2 learn_jcu_issues_2  lecturer_referral_2  \
10                84.66            17             Access           Attendance
101               38.48            14             Access  Concern for Welfare
108               95.73            99             Access  Concern for Welfare
134               50.16            97             Access           Attendance
416               80.44            27             Access  Concern for Welfare
425               91.78            45          No Access  Concern for Welfare
451               51.01            47             Access           Attendance
493                1.93            90             Access       Non Submission
530               51.34            90             Access  Concern for Welfare

    subject_3  subject_3_assess_1  subject_3_assess_2  subject_3_assess_3  \
10     MA5851               66.82               88.60               29.88
101    LB5113               81.72               26.71               73.56
108    CP5503               67.12               55.95               51.87
134    CO5109               72.95               71.11               45.74
416    LB5205               35.75               61.98               69.22
425    EG5310               80.50               77.92               44.47
451    TO5104               90.08               69.05               34.11
493    LB5113                3.28               16.39               34.55
530    EG5310               16.10               40.88               90.10

     subject_3_assess_4  attendance_3 learn_jcu_issues_3  lecturer_referral_3  \
10                97.46            75          No Access           Attendance
101               76.05            32          No Access  Concern for Welfare
108               91.76            10             Access  Concern for Welfare
134               99.65            80             Access       Non Submission
416               32.99            43             Access           Attendance
425               72.11            89             Access       Non Submission
451               57.73            94             Access           Attendance
493               82.24            18             Access  Concern for Welfare
530               46.56            34             Access           Attendance

                                              comments     identified_issues  \
10   Week 5. Low engagement in tutorials. Follow-up...       Death in family
101  Week 2. Student did not attend orientation. Co...       Late Enrollment
108  Week 7. Missed second assessment. Student cont...  Poor time management
134  booked to see a doctor. Week 5. Student contac...  Poor time management
416  Week 5. Student absent from multiple classes. ...  Poor time management
425  booked to see a doctor. Week 5. Student contac...       Death in family
451  Week 3. Student enrolled late. Missing foundat...       Late Enrollment
493  Week 3. Student enrolled late. Missing foundat...         Mental health
530  Week 7. Missed second assessment. Student cont...       Late Enrollment

    course_group
10            IT
101       Non-IT
108           IT
134       Non-IT
416       Non-IT
425       Non-IT
451       Non-IT
493       Non-IT
530       Non-IT

9